<launch>
   <node name="rplidarNode" pkg="rplidar_ros" type="rplidarNode" output="screen">
    <param name="serial_port" type="string" value="/dev/ttyUSB0"/>
    <param name="serial_baudrate" type="int" value="115200"/> <!-- A1 / A2 -->
    <param name="frame_id" type="string" value="laser"/>
    <param name="angle_compensate" type="bool" value="true"/>
  </node>
  
	<arg name="custom_gmapping_launch_file" default="$(find navigation_stack)/launch/includes/gmapping/gmapping.launch.xml"/>

	<!-- <include file="$(find atom)/launch/house.launch"/> -->

	<include file="$(arg custom_gmapping_launch_file)"/>

</launch>
